@media print {
  @page {
    @footnotes {
      border-top: solid black thin;
      padding-top: 1rem;      
    }
  }

  .footnote {
    float: footnote;
    font-size: 0.8rem;
  }

  /**::footnote-marker {    
  }*/
}