@font-face {
  font-family: eb-garamond;
  font-weight: normal;
  src: url('./eb-garamond/EBGaramond-Regular.woff2');
}

@font-face {
  font-family: eb-garamond;
  font-weight: normal;
  font-style: italic;
  src: url('./eb-garamond/EBGaramond-Italic.woff2');
}

@font-face {
  font-family: eb-garamond;
  font-weight: bold;
  src: url('./eb-garamond/EBGaramond-Bold.woff2');
}

@font-face {
  font-family: eb-garamond;
  font-weight: bold;
  font-style: italic;
  src: url('./eb-garamond/EBGaramond-BoldItalic.woff2');
}