@import url('normalize.css/');
@import url('./common/typography.css');
@import url('./common/util.css');
@import url('./common/highlight.css');
@import url('./print.css');
@import url('./screen.css');

ul, ol, dl {
  margin: 0;
  padding: 0;
}

dt {
  font-style: italic;
}

dd {
  margin-left: 2rem;
}

ul, ol {
  padding-left: 2rem;
  list-style: none;
  position: relative;
}

li::before {
  position: absolute;  
  left: 0;
  width: 2rem;
  content: '•';
  text-align: center;
}

li[data-name]::before {
  content: attr(data-name);
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
  font-family: var(--font-headings);
  page-break-after: avoid;
  hyphens: none;
}

blockquote {  
  font-size: .9rem;
  margin: 0 -1rem;  
  padding: 0.1rem 1rem;
  border-left: 4px solid #267f99;  
  position: relative;
  background-color: #eee;
}

.disclaimer {
  display: none;
}

dl.refs dt {
  float: left;
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
}

dl.refs dt, dl.refs dd {
  padding-bottom: 0;  
  font-size: .9rem;
}

/*blockquote::before {
  content: 'ℹ';
  font-family: open-sans;
  font-style: normal;
  position: absolute;
  left: -4rem;
  color: #267f99;
  font-size: 1.5rem;
  line-height: 1;
  width: 3.5rem;
  text-align: right;
}*/

#TOC a {
  display: block;
  overflow: hidden;
}

#TOC li {
  position: relative;
}

#TOC > ul > li > a {
  font-weight: bold;
}

#TOC .toc-section-number {
  left: -4rem;
  width: 3rem;
  font-variant-numeric: lining-nums tabular-nums;
  text-align: right;
  position: absolute;
}

#TOC > ul {
  padding: 0;
}

#TOC a {  
  color: black;
}

#TOC li::before {
  content: '';
}

h1 + blockquote {  
  margin-top: -1.5rem;  
}

div.counter {
  background-color: #eee;
  padding: 1rem 1rem;
  margin:  0 -1rem;
}

.active {
  color: fuchsia;
}

div.counter::before {
  margin-top: 0;
  content: attr(data-name);
  font-weight: bold;
  page-break-inside: avoid;
}

div.counter.continued::before {
  content: attr(data-name) ' (continued)';  
}

div.example :last-child {
  margin-bottom: 0;
}

figure {      
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;  
  text-align: center;  
}

figure > .subfigures {
  display: flex;
  width: 100%;
  justify-content: space-evenly;  
  margin-left: auto;
  margin-right: auto;
}

figure > .subfigures > .subfigure {  
  flex: 1 1 auto;
}

figure > .subfigures > .subfigure:not(:first-child) {  
  margin-left: 1rem;
}

figure > img, figure > object,
figure > .subfigures > .subfigure > img,
figure > .subfigures > .subfigure > object {
  width: 100%;
}

figure.small {
  width: 66.7%;  
}

figure[width] {
  width: attr(width,'%');
}

figure > figcaption {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-top: 0.5rem;
  text-align: justify;  
}

figure > figcaption::before {  
  content: attr(data-name);
  font-weight: bold;
  margin-right: 0.5em;
}

figure > object, figure > img, figure > pre {
  margin: auto
}

table {    
  font-size: 0.9rem; 
  border-collapse: collapse;  
  margin-left: auto;
  margin-right: auto;
}

caption {  
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 1rem;
}

caption::before {
  font-weight: bold;
  margin-right: 0.5rem;
  content: attr(data-name);  
}

table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;  
}

thead {
  border-bottom: 1px solid black;
  font-weight: normal;
}

th, td {
  padding: 0.25rem;
  font-weight: normal;
}

th.centered, td.centered {
  text-align: center !important;
}

h1 {  
  z-index: 1;
  font-size: 3rem; 
}

h1, h2, h3, h4 {    
  line-height: 1.3;
  counter-reset: line-number;
}

h1::before, h2::before, h3::before, h4::before {
  float: left;
  text-align: right;
  margin-left: -5rem;
  width: 3.5rem;
  display: block;
}

h1:not(.unnumbered):before {
  content: attr(data-chapter)
}

h2:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section)
}

h3:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section) '.' attr(data-subsection)
}

h4:not(.unnumbered)::before {    
  content: attr(data-subsubsection);
}

a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

.js-plotly-plot .plotly .main-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

p, dd, li {
  widows: 2;
  orphans: 2;
}

.csl-entry {
  display: block;
  position: relative;
  padding-bottom: .2rem;
  break-inside: avoid;
  font-size: 0.9rem;
}

.csl-entry:target {
  font-weight: bold;
}

.csl-left-margin {
  position: absolute;
  right: calc(100% + 1rem);    
  font-variant-numeric: tabular-nums lining-nums;  
} 

.csl-right-inline {
  display: table-cell;
}

.sticky {
  position: sticky;
}

figure {
  display: flex;
  flex-direction: column;
}

figure > figcaption {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

figure > pre, figure > code {
  display: inline-block;  
}

pre, code {
  text-align: left;
  font-family: var(--font-monospace);
  font-size: .7rem;
  line-height: 1.35;
}

*:not(.continue) > pre {
  counter-reset: line-number;
}

pre > .line {
  position: relative;
  border-left: thin solid #ccc;
  padding-left: 0.5rem;  
  margin-left: 2rem;
}

pre > .line::before {
  position: absolute;
  counter-increment: line-number;
  content: counter(line-number);
  left: -5rem;
  width: 4.5rem;
  text-align: right;
  padding-right: 0.5rem;
  color: #237896;
}

pre > .line:first-child:last-child::before {
  content: ' ';
}

.break-out {  
  margin-left: -5rem;  
  min-width: calc(100% + 5rem);
}

.ghlink {
  display: block;
  text-align: center;
}

.ghlink > img {
  max-width: 80%;
}



header::before {
  content: 'A Thesis Submitted for the Degree of Dr.-Ing.';
  font-family: vollkorn-sc;
}

header p.subtitle {
  margin-top: -2rem;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

header p.author::before {
  content: 'by';
  text-align: center;
  display: block;
}