@import url('normalize.css/');
@import url('./common/typography.css');
@import url('./common/util.css');
@import url('./print.css');
@import url('./screen.css');

section > :not(section) {
  margin-left: 5rem;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
  font-family: var(--font-headings);
  page-break-after: avoid;
  hyphens: none;
}

div.counter {
  background-color: #eee;
  padding: 1rem 1rem;
  margin:  0 -1rem 0 4rem;
}

.active {
  color: fuchsia;
}

div.counter::before {
  margin-top: 0;
  content: attr(data-name);
  font-weight: bold;
  page-break-inside: avoid;
}

div.counter.continued::before {
  content: attr(data-name) ' (continued)';  
}

div.example :last-child {
  margin-bottom: 0;
}

figure {
  padding-left: 5rem;
  margin-left: auto !important; 
  margin-right: auto; 
  margin-bottom: 1rem;
  counter-increment: figure;
  break-inside: avoid;
  text-align: center;
  /*padding: 0.5rem 0 0.5rem 5rem;  */
}

figure > img, figure > object {
  width: 100%;
}

figure.small > img, figure.small > object {
  width: 66.7%;  
}

figure > figcaption {  
  font-size: 80%;
  margin-top: 0.5rem;
  text-align: justify;
}

figure > figcaption > .name {  
  font-weight: bold;
  margin-right: 0.5em;
}


table {  
  font-size: 80%; 
  border-collapse: collapse;
  padding-left: 5rem;
  margin-left: auto !important;
  margin-right: auto;
  transform: translateX(2.5rem);
}

caption {  
  margin-bottom: 1rem;
}

caption::before {
  font-weight: bold;
  margin-right: 0.5rem;
  content: attr(data-name);  
}

table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;  
}

thead {
  border-bottom: 1px solid black;
  font-weight: normal;
}

th, td {
  padding: 0.25rem;
  font-weight: normal;
}



section {
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  z-index: 1;
  font-size: 3rem;  
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

h1, h2, h3, h4 {
  position: relative;
}

h1::before, h2::before, h3::before, h4::before {
  position: absolute;
  display: block;
  width: 4rem;
  text-align: right;
  left: -5rem;
}

h1:not(.unnumbered):before {
  content: attr(data-chapter)
}

h2:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section)
}

h3:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section) '.' attr(data-subsection)
}

h4 {
  font-style: italic;
}

h4:not(.unnumbered)::before {    
  content: attr(data-subsubsection) '.';
}

a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

p {
  widows: 2;
  orphans: 2;
}

div.example {
  page-break-inside: avoid;
}

.csl-entry {
  display: block;
  position: relative;
  padding-bottom: .2rem;
  break-inside: avoid;
}

.csl-entry:target {
  font-weight: bold;
}

.csl-left-margin {
  position: absolute;
  right: calc(100% + 1rem);    
  font-feature-settings: "tnum", "ss11";
} 

.csl-right-inline {
  display: table-cell;
}

.sticky {
  position: sticky;
}

pre, code {
  text-align: left;
  font-family: var(--font-monospace);
  font-size: 8pt;
  line-height: 1.4;
}

pre {
  counter-reset: line-number;  
  display: table;
  border-collapse: separate;
  border-spacing: 0.5rem 0;
}

pre > .line {
  display: table-row;  
}

pre > .line::before {
  display: table-cell;
  counter-increment: line-number;
  content: counter(line-number);
  text-align: right;
  padding-right: 0.5rem;
  border-right: 2px solid #ccc;
  color: #237896;
}

pre > .line:first-child:last-child::before {
  content: ' ';
}

pre > .line .keyword {
  font-weight: bold;
}