@import url('./print/footnotes.css');

@media print {
  .standalone {
    margin: auto;
    padding: 0;
    page: standalone;
  }

  @page standalone {    
    -prince-shrink-to-fit: auto;
  }

  @page rotated {
    -prince-rotate-body: landscape;
    -prince-shrink-to-fit: auto;
  }  

  @page standalone:left, rotated:left {
    margin: 3cm 4cm 3cm 3cm;
  }
  
  @page standalone:right, rotated:right {
    margin: 3cm 3cm 3cm 4cm;    
  }

  .standalone.rotated {
      page: rotated
  }

  table:not(.standalone), figure:not(.standalone) {
    -prince-float-defer-page: 1;
    -prince-float: snap unless-fit;
    -prince-float-policy: in-order;
  }

  :root {
    color-adjust: exact;
    font-size: 11pt;
  }

  @page {
    size: A4;
    margin: 3cm;
    @bottom-center {
      content: counter(page);
    };
  }

  @page :left {
    margin: 3cm 4cm 3cm calc(3cm + 5rem);
  }
  
  @page :right {
    margin: 3cm 3cm 3cm calc(4cm + 5rem);
  }

  h1 {
    page-break-before: always;
    padding-top: 4rem;
  }

  h1,h2,h3,h4,h5,h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  a {
    color: black;
  }

  hr {
    page-break-after: always;
  }

  figure {
    break-inside: avoid;
  }

  *:not(.breakable) > pre {
    page-break-inside: avoid;
  }
}