@import url('./print/footnotes.css');

@media print {
  .standalone {    
    padding: 0;
    page: standalone;
  }

  header {
    page: header;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;      
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  header::before {
    flex-grow: 1;
  }

  header::after {
    content: '';
    flex-grow: 2;
  }

  header h1 {    
    page-break-before: avoid;
    text-align: center;
  }

  @page header {
    margin: 3cm;   
    counter-reset: page;     

    @bottom-center {
      content: '';
    };
  }

  @page standalone {    
    margin: auto;
    -prince-shrink-to-fit: auto;
  }

  @page rotated {
    margin: auto;
    -prince-rotate-body: landscape;
    -prince-shrink-to-fit: auto;
  }  

  #TOC a::after {
    font-variant-numeric: tabular-nums lining-nums;
    content: leader('⋅') ' ' target-counter(attr(href url), page);
  }

  @page standalone:left, rotated:left {
    margin: 3cm 4cm 3cm 3cm;
  }
  
  @page standalone:right, rotated:right {
    margin: 3cm 3cm 3cm 4cm;    
  }

  #TOC {
    page: preface;
    counter-reset: page 1;
  }

  @page preface {
    @bottom-center {
      content: counter(page,lower-roman);
    };
  }

  .standalone.rotated {
      page: rotated
  }

  table, figure {
    -prince-float-defer-page: 1;
    -prince-float: snap unless-fit;    
    -prince-float-policy: in-order;
  }

  :root {
    color-adjust: exact;    
  }

  @page {
    size: A4;
    margin: 3cm;
    @bottom-center {
      content: counter(page);
    };
    @top-center {
      content: string(doctitle);
      border-bottom: 1px solid black;
    }    
  }

  h1[data-name] { string-set: doctitle attr(data-name) ' - ' content() }

  @page :left {
    margin: 3cm 4cm 3cm calc(3cm + 5rem);
  }
  
  @page :right {
    margin: 3cm 3cm 3cm calc(4cm + 5rem);
  }

  h1[data-chapter]:first-of-type {
    counter-reset: page 1;
  }

  h1 {
    page-break-before: always;
    padding-top: 4rem;
  }

  h1,h2,h3,h4,h5,h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  a {
    color: black;
  }

  .disclaimer {
    page-break-before: always;
    page: preface;
    display: block !important;
  }

  .disclaimer::before {
    content: 'Disclaimer';
    font-size: 3rem;
    font-weight: bold;
  }

  .disclaimer .signature {
    margin-top: 3rem;
    display: block;
    width: 66%;
    border-top: 1px solid black;
  }

  hr {
    page-break-after: always;
  }

  figure {
    break-inside: avoid;
  }

  *:not(.breakable) > pre {
    page-break-inside: avoid;
  }
}