@media screen {
  :root {
    scroll-behavior: smooth;  
    font-size: 12pt;
  }
  
  body {  
    overflow-x: visible;
    margin-left: 10rem;
    margin-right: 5rem;
    max-width: 40rem;
  }

  ul, ol {
    max-width: 38.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: unset !important;
  }

  /*figure {    
    position: absolute;
    left: 40rem;    
    width: 25rem;   
  }*/

  h1 {
    padding: 1.5rem 2rem 1.5rem 0;
  }  

  section {
    margin: 0;
    padding: 0;
  }
}