@import url('../fonts/vollkorn.css');
@import url('../fonts/open-sans.css');
@import url('../fonts/jetbrains-mono.css');

:root {
  --font-monospace: jetbrains-mono;
  --font-serif: vollkorn;
  --font-sans: open-sans;
  --font-body: var(--font-serif);  
  --font-headings: var(--font-serif);

  --tiny: 6pt;
  --scriptsize: 8pt;
  --footnotesize: 9pt;
  --small: 10pt;
  --normalsize: 11pt;
  --large: 12pt;
  --Large: 14pt;
  --LARGE: 17pt;
  --huge: 20pt;
  --Huge: 25pt;

  hyphens: auto;
  font-size: var(--normalsize);
  font-family: var(--font-body);
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
}