@import url('./fonts/vollkorn.css');

.nobr {
  white-space: nowrap;
}

:root {
  --font-body: vollkorn;
  --font-headings: vollkorn;
  font-size: 11pt;
  font-family: var(--font-body);
  counter-reset: chapter section subsection figure example;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
}

body {
  padding-left: 5rem;
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
  font-family: var(--font-headings);
}

a[href^="#fig:"]::before {
  content: 'Figure ' target-counter(attr(href),chapter) '.' target-counter(attr(href), figure)
}

div.example {
  background-color: #eee;
  padding: 1rem 1rem;
  margin: 0 -1rem;
}

div.example:not(.continue) {
  counter-increment: example;
}

div.example::before {
  margin-top: 0;
  content: 'Example ' counter(chapter) '.' counter(example) ' ';
  font-weight: bold;
}

div.example.continue::before {
  content: 'Example ' counter(chapter) '.' counter(example) ' (continued)';
}

div.example :last-child {
  margin-bottom: 0;
}

figure {
  text-align: center;
  display: block;  
  counter-increment: figure;
}

figure > img {
  width: 100%;
}

figure > img.small {
  width: 66.7%;
}


figure > figcaption {
  margin-top: 0.5rem;
  text-align: justify;
  font-style: italic;
}

figure > figcaption::before {
  content: 'Figure ' counter(chapter) '.' counter(figure) ' ';
  font-weight: bold;
}

h1 {
  counter-reset: section figure;
  font-size: 3.5rem;  
  line-height: 1.2;
  position: relative;
  margin-bottom: 2.5rem;
}

h1:not(.unnumbered)::before {
  position: absolute;
  left: -5rem;
  counter-increment: chapter;
  content: counter(chapter);
}

h2 {
  counter-reset: subsection;  
  position: relative;
}

h2::before {
  content: counter(chapter) '.' counter(section) ' ';
  counter-increment: section;
  position: absolute;
  left: -5rem;
}

h3 {
  position: relative;
}

h3::before {
  content: counter(chapter) '.' counter(section) '.' counter(subsection);
  counter-increment: subsection;
  position: absolute;
  left: -5rem;
}

a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

@media screen {
  body {
    max-width: 30rem;
    margin-left: 5rem;
  }

  figure {    
    position: absolute;
    left: 40rem;    
    width: 25rem;    
  }

  h1 {
    color: white;
  }

  h1::after {
    position: absolute;        
    left: -10rem;
    z-index: -1;
    content: '';
    background-color: #003366;    
    width: 100vw;    
    top: -1rem;
    bottom: -1rem;
  }
}

@media print {
  :root {
    color-adjust: exact;
  }

  @page {
    size: A4;
    margin: 2cm 3.5cm;
    margin-inside: 5cm;    
    @bottom {
      content: counter(page);
    }
  }  

  span.katex > .katex-html {
    display: none;
  }

  h1 {
    page-break-before: always;
    padding-top: 4rem;  
  }

  hr {
    page-break-after: always;
  }
}

.bibliography > li > span.title {
  font-style: italic;
}

.csl-entry {
  display: table-row;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.csl-left-margin {
  display: table-cell;
  width: 3rem;
} 

.csl-right-inline {
  display: table-cell;
}