@import url('./fonts/vollkorn.css');
@import url('./fonts/open-sans.css');
@import url('./fonts/jetbrains-mono.css');
@import url('./fonts/eb-garamond.css');

.nobr {
  white-space: nowrap;
}

:root {
  hyphens: auto;
  --font-body: vollkorn;
  --font-headings: vollkorn;
  --font-code: jetbrains-mono;
  font-size: 12pt;
  font-family: var(--font-body);
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

body {
  padding-left: 5rem;
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
  font-family: var(--font-headings);
  page-break-after: avoid;
  hyphens: none;
}

div.counter {
  background-color: #eee;
  padding: 1rem 1rem;
  margin: 0 -1rem;
}

.active {
  color: fuchsia;
}

div.counter::before {
  margin-top: 0;
  content: attr(data-name);
  font-weight: bold;
  page-break-inside: avoid;
}

div.counter.continued::before {
  content: attr(data-name) ' (continued)';  
}

div.example :last-child {
  margin-bottom: 0;
}

figure {  
  -prince-float-defer-page: 1;
  -prince-float: snap unless-fit;
  text-align: center;
  counter-increment: figure;
  break-inside: avoid;
  padding: 0.5rem 0 0.5rem 5rem;  
}

figure > img, figure > object {
  width: 100%;
}

figure.small > img, figure.small > object {
  width: 66.7%;
}

figure > figcaption {  
  font-size: 80%;
  margin-top: 0.5rem;
  text-align: justify;
  font-style: italic;
}

figure > figcaption > .name {  
  font-weight: bold;
  margin-right: 0.5em;
}

section {
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  position: sticky;
  top: 1rem;
  z-index: 1;
  font-size: 3.5rem;  
  line-height: 1.2;
  margin-bottom: 2.5rem;
  page-break-after: avoid;
}

h2, h3 {
  position: relative;
  page-break-after: avoid;
}

h1::before, h2::before, h3::before {
  position: absolute;
  left: -5rem;
}

h1:not(.unnumbered):before {
  content: attr(data-chapter)
}

h2:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section)
}

h3:not(.unnumbered)::before {
  content: attr(data-chapter) '.' attr(data-section) '.' attr(data-subsection)
}

a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

p {
  widows: 2;
  orphans: 2;
}

@media screen {
  body {
    max-width: 30rem;
    margin-left: 5rem;
  }

  figure {    
    position: absolute;
    left: 40rem;    
    width: 25rem;    
  }

  h1 {
    color: white;
  }

  h1::after {
    position: absolute;        
    left: -10rem;
    z-index: -1;
    content: '';
    background-color: #003366;    
    width: 100vw;    
    top: -1rem;
    bottom: -1rem;
  }
}

@media print {
  :root {
    color-adjust: exact;
  }

  @page {
    size: A4;
    margin: 3cm 3cm;
    margin-inside: 4cm;    
    @bottom {
      content: counter(page);
    }
  }

  span.katex > .katex-html {
    display: none;
  }

  h1 {
    page-break-before: always;
    padding-top: 4rem;
  }

  a {
    color: black;
  }

  hr {
    page-break-after: always;
  }
}

.csl-entry {
  display: block;
  position: relative;
  padding-bottom: .2rem;
  break-inside: avoid;
}

.csl-entry:target {
  font-weight: bold;
}

.csl-left-margin {
  position: absolute;
  left: -2rem;
  text-align: right;
} 

.csl-right-inline {
  display: table-cell;
}

.sticky {
  position: sticky;
}

pre, code {
  text-align: left;
  font-family: var(--font-code);
  font-size: 9pt;
  line-height: 1.3;
}

pre {
  counter-reset: line-number;  
  display: table;
  border-collapse: separate;
  border-spacing: 0.5rem 0;
}

pre > .line {
  display: table-row;  
}

pre > .line::before {
  display: table-cell;
  counter-increment: line-number;
  content: counter(line-number);
  text-align: right;
  padding-right: 0.5rem;
  border-right: 2px solid #ccc;
  color: #237896;
}

pre > .line:first-child:last-child::before {
  content: ' ';
}

pre > .line .keyword {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

thead {
  border-bottom: 3px double black;
}

th, td {
  padding: 0.4rem;
}

table.headerColumn th:first-child,table.headerColumn td:first-child {
  border-right: 1px solid black;
}